{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content%}
<br><br><br>
{{block.super}}
<style>
    body {
        background-image: url("https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
    }
</style>
<div class="container">
    <div class="row">
        <!-- Card Regular -->
        {%for photo in photos%}
        <div class="col-md-6" >
            <div>
                <div class="card card-cascade">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" src="{{photo.image.url}}" alt="Card image cap" width="100%" height="100%">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
        
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
        
                        <!-- Title -->
                        <h4 class="card-title"><strong>{{photo.title}}</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2"><a class="btn btn-pink" href="{{photo.link}}"><i
                                    class="fa fa-clone left"></i> View project</a></h6>
                        <!-- Text -->
                        <p class="card-text">{{photo.description}}</p>
                        <h4 class="card-title">Rate Project: <a href="/site/{{photo.id}}"
                                style="color:rgb(0, 162, 255);text-decoration: none">{{photo.title|title}}</a> </h4>
                        <!-- Facebook -->
                        <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook-f"></i></a>
                        <!-- Twitter -->
                        <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
                        <!-- Google + -->
                        <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>
        
        
                    </div>
                    <div class="card-footer text-muted text-center">
                        {{photo.pub_date}}
                    </div>
                </div>
            </div>
            <!-- Card Regular -->
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}

