<nav class="mb-1 navbar navbar-expand-lg navbar-dark z-depth-1 navfont z-depth-1 fixed-top bg-dark">
    <div class="container mid">
        <a class="navbar-brand big-brand" href="">AWARDS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link waves-effect waves-light">
                        <i class="fa fa-twitter"></i>
                        
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fa fa-discord"></i>
                    </a>
                </li>
                {%if user.is_authenticated%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                        aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="">Profile</a>
                        <a class="dropdown-item" href="{%  url 'post-create'%}">New Post</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                {%else%}
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="/accounts/login">
                        Login
                    </a>
                </li>
                {%endif%}
                <form class="navbar-form" role="search" action="{% url 'search_results' %}">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Project" name="project">
                        <div class="input-group-btn">
                        <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>

                </form>
            </ul>
        </div>
    </div>
</nav>